div.wrapper-card
  div.wrapper-card__content
    span.wrapper-card__title Ассортимент
    div.article
      ul
        li 200+ SKU замороженной рыбы и морепродуктов: красная , белая, пелагическая рыба, мидии, гребешки креветки и многое другое…
        li Продукция собственного бренда Fish&More

  figure.wrapper-card__banner
    img(src="./assets/images/wrapper-card-img-1.png" alt="")


div.wrapper-card
  div.wrapper-card__content
    span.wrapper-card__title Технологичность
    div.article
      ul
        li Отражаем точные остатки по каждой SKU для удобства мониторинга и планирования
        li История заказов и сопутствующая документация онлайн в личном кабинете
        li Возможность онлайн - заказов в день регистрации без заключения договора

  figure.wrapper-card__banner
    img(src="./assets/images/wrapper-card-img-2.png" alt="")