.article {
  @include DesktopSubtitle1-regular;

  & blockquote:first-child,
  & h2:first-child,
  & h3:first-child,
  & h4:first-child,
  & h5:first-child,
  & h6:first-child,
  & p:first-child,
  & ul:first-child,
  & ol:first-child,
  & a:first-child,
  & details:first-child {
    margin-top: 0;
  }

  & blockquote:last-child,
  & h2:last-child,
  & h3:last-child,
  & h4:last-child,
  & h5:last-child,
  & h6:last-child,
  & p:last-child,
  & ul:last-child,
  & ol:last-child,
  & a:last-child,
  & details:last-child {
    margin-bottom: 0;
  }

  blockquote {
    margin-top: 40px;
    margin-bottom: 40px;

    @media(max-width: $phone) {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  h2,
  h3,
  h4 {
    margin: 0;
    margin-top: 40px;
    margin-bottom: 20px;

    @media(max-width: $phone) {
      margin-top: 30px;
    }
  }

  h2 {
    @include DesktopH2-bold;
  }

  h3 {
    @include DesktopH3-bold;
  }

  h4 {
    @include DesktopH4-bold;
  }

  figure:not([class]) {
    margin-top: 20px;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;

    @media(max-width: $phone) {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    img {
      @include Shadow-XS;
      display: block;
      max-width: 100%;
      height: auto;
      border-radius: 10px;
      overflow: hidden;
    }
  }

  figcaption {
    @include DesktopBody2-regular;
    max-width: $article-width;
    margin: 0;
    margin-top: 10px;
    color: $Secondary-5;

    @media(max-width: $phone) {
      margin-top: 10px;
    }
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  p:not([class]) {
    max-width: $article-width;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;

    @media(max-width: $phone) {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    b {
      display: inline;
      font-weight: 500;
    }
  }

  a:not([class]) {
    text-decoration: none;
    color: $Primary-3;
    transition:
      opacity 0.3s,
      color 0.3s;

    &:hover {
      @media(min-width: $desktop-only) {
        opacity: 0.8;
      }
    }

    &:active {
      color: $Primary-2;
      opacity: 1;
    }
  }

  b:not([class]) {
    margin: 0;
    font-weight: 500;
  }

  &>b {
    display: block;
    max-width: $article-width;
    margin-top: 20px;
    margin-bottom: 20px;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul:not([class]) {
    max-width: $article-width;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    list-style: none;

    @media(max-width: $phone) {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    li:not([class]) {
      position: relative;
      margin: 0;
      margin-bottom: 20px;
      padding: 0;
      padding-left: 20px;

      @media(max-width: $phone) {
        margin-bottom: 10px;
      }

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        position: absolute;
        top: 5px;
        left: 0;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $Primary-2;
        content: '';
      }
    }
  }

  ol:not([class]) {
    max-width: $article-width;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    list-style: none;
    counter-reset: lvl1;

    @media(max-width: $phone) {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    li:not([class]) {
      position: relative;
      margin: 0;
      margin-bottom: 20px;
      padding: 0;
      counter-increment: lvl1;

      @media(max-width: $phone) {
        margin-bottom: 10px;
      }

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        content: counter(lvl1) '. ';
      }
    }
  }

  details:not([class]) {
    position: relative;
    margin-top: 30px;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
    padding-bottom: 30px;

    @media(max-width: $phone) {
      margin-top: 20px;
      margin-bottom: 20px;
      padding-bottom: 20px;
    }

    &[open] {

      summary {
        margin-bottom: 20px;

        &:before {
          content: 'Свернуть';
        }

        &:after {
          opacity: 0;
        }
      }
    }

    summary {
      display: flex;
      cursor: pointer;

      &:before {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $Primary-5;
        content: 'Развернуть';
        flex-shrink: 0;
      }

      &:after {
        position: absolute;
        bottom: 30px;
        left: 0;
        width: 100%;
        height: 20px;
        transition: opacity 0.3s;
        opacity: 1;
        pointer-events: none;
        background: linear-gradient(180deg, transparent, #ffffff 100%);
        content: '';

        @media(max-width: $phone) {
          bottom: 20px;
          height: 15px;
        }
      }
    }
  }
}