div.advantages
  h2.advantages__title Широкий #[em.wave-text ассортимент и технологичность] делают платформу Defa удобным инструментом для того, кто занимается закупками
  div.advantages__wrapper
    include ../wrapper-card/wrapper-card

  
  h2.advantages__title ... а еще
  div.advantages__wrapper.advantages__wrapper--column-3
    include ../advantages-card/advantages-card