div.reviews
  div.reviews__header
    h2.reviews__title #[em.wave-text #[span(style='font-size: 150%;') 89%] покупателей] #[br] возвращаются к нам снова

    include ../yandex-badge/yandex-badge
    
  div.reviews__slider
    +slider({
      reviews: true,
    })

  
  div.reviews__main
    div.reviews__content
      h2.reviews__title.reviews__title--quote Сотрудничаем уже больше 2-х лет - всегда все чётко, быстро и вежливо

      p Сотрудничаем уже больше 2-х лет - всегда все чётко, быстро и вежливо👍🏻С появлением он-лайн заказов на базе сайта работать стало еще удобнее - видишь полный ассортимент и цены, сам оформляешь нужное количество товара, заказ можно забирать даже в день оформления, это очень удобно. Менеджер всегда подскажет, если есть вопросы. По качеству товара - однозначно, 5+. 
      p Даже самые придирчивые покупатели у нас всегда довольны вашей продукцией! Спасибо вам❤️

    div.reviews__who
      figure.reviews__avatar
        img(src='./assets/images/review-quote-image-1.jpg') 

      div.reviews__about
        span.reviews__name #[b ИП Маклаков]
        span.reviews__position Оптовая и розничная продажа продуктов питания