div.reviews
  div.reviews__header
    h2.reviews__title #[em.wave-text #[span(style='font-size: 150%;') 89%] покупателей] #[br] возвращаются к нам снова

    include ../yandex-badge/yandex-badge
    
  div.reviews__slider
    +slider({
      reviews: true,
    })

  
  div.reviews__main
    div.reviews__content
      h2.reviews__title.reviews__title--quote Сотрудничаем уже больше 2-х лет - всегда все чётко, быстро и вежливо

      p Очень нравится организованность в самой компании. Работать на сайте-одно удовольствие. Можно посмотреть остаток товара, что очень удобно для планирования своих покупок. Кроме того, никогда не возникало проблем с оплатой, после заказа дается достаточно времени. Ассортимент достаточно большой, товар всегда свежий, не перемороженный, что очень важно для нас, так как встречались с такой проблемой в других организациях. #[br] Очень ждем обновления ассортимента, надеемся что будет еще много интересных товаров 
      p Также одеяльное спасибо нашему менеджеру - Анне. Бывает что мы пишем в не рабочее время-она всегда отвечает

    div.reviews__who
      figure.reviews__avatar
        img(src='./assets/images/review-quote-image-1.jpg') 

      div.reviews__about
        span.reviews__name #[b Марина #[br] Алиевна]
        span.reviews__position Менеджер отдела закупок
        span.reviews__position Оптовая и розничная продажа продуктов питания