div.advantages-card
  figure.advantages-card__banner
    img(src="./assets/images/advantages-card-img-1.png" alt="")

  span.advantages-card__title Низкие цены

  div.article
    ul
      li Defagroup – прямой импортёр рыбы и морепродуктов. Гарантируем низкие цены при отсутствии цепочки посредников
      li Экономия на закупка: программа лояльности и кешбэк за каждый заказ


div.advantages-card
  figure.advantages-card__banner
    img(src="./assets/images/advantages-card-img-2.png" alt="")

  span.advantages-card__title Удобство онлайн-закупок

  div.article
    ul
      li Заказы 24\7 без ожидания резервирования товара менеджером
      li Личный менеджер для помощи и консультаций по выбору продукции
      li Без ограничений по объему покупок – минимальный заказ кратен 1 коробке


div.advantages-card
  figure.advantages-card__banner
    img(src="./assets/images/advantages-card-img-3.png" alt="")

  span.advantages-card__title Экспертиза

  div.article
    ul
      li Компания Defa импортирует и продает рыбу и морепродукты на рынке РФ более 30 лет
      li Ваш личный менеджер – специализированный эксперт рынка, который сможет подобрать продукцию под ваши потребности