div.advantages-card
  figure.advantages-card__banner
    img(src="./assets/images/advantages-card-img-1.png" alt="")

  span.advantages-card__title Низкие цены

  div.article
    ul
      li Defa – прямой импортёр. Гарантируем низкие цены при отсутствии цепочки посредников;
      li Экономия на закупках: программа лояльности и кешбэк за каждый заказ.


div.advantages-card
  figure.advantages-card__banner
    img(src="./assets/images/advantages-card-img-2.png" alt="")

  span.advantages-card__title Удобство

  div.article
    ul
      li Заказы 24/7 без ожидания резервирования товара менеджером;
      li Личный менеджер для помощи и консультаций по выбору продукции;
      li Без ограничений по объему – минимальный заказ кратен 1 коробке;


div.advantages-card
  figure.advantages-card__banner
    img(src="./assets/images/advantages-card-img-3.png" alt="")

  span.advantages-card__title Экспертиза

  div.article
    ul
      li Импортируем и продаем рыбу и морепродукты более 30 лет;
      li Личный менеджер – эксперт рынка, который сможет подобрать продукцию под ваши потребности.