div.yandex-badge
  i.yandex-badge__logo
    img(src="./assets/images/yandex-logo.svg" width='129px' height='37' alt="")
  div.yandex-badge__content
    div.yandex-badge__score
      span 4.5
    div.yandex-badge__reviews
      div.yandex-badge__stars
        include ../star-rating/star-rating

      a(href='#').yandex-badge__link Читать все
