.layout {
  margin-top: 120px;
  background-color: $Primary-1;

  @media(max-width: $phone) {
    margin-top: 40px;
  }

  &__title {
    @include DesktopH1-bold;
    width: 100%;
    max-width: 940px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: auto;
    text-align: center;
    gap: 40px;

    @media(max-width: $phone) {
      margin-bottom: 40px;
      gap: 20px;
    }

    em {
      font-style: normal;
      color: $Primary-3;
    }
  }

  &__sub-title {
    @include DesktopSubtitle4-regular;
    margin: 0;
  }

  &--sky {
    padding-top: 120px;
    background-color: $Secondary-15;

    @media(max-width: $phone) {
      padding-top: 40px;
    }
  }

  &--grey {
    padding-top: 120px;
    background-color: $Secondary-3;

    @media(max-width: $phone) {
      padding-top: 40px;
    }
  }
}