mixin layout(props)
  section.layout
    div.container 
          
      if props.title
        div.layout__header
          h2.layout__title=props.title
          if props.more
            a(href="#").layout__more=props.more

      div.layout__wrapper
        block