extends ../templates/default

block main
  
  include ../components/intro/intro

  +layout({})
    +article({
      one: true,
    })

  +layout({})
    +article({
      two: true,
    })

  +layout({
    class: 'layout--sky',
    title: 'Совершайте <em class="wave-text">закупки в несколько кликов</em>: быстрые заказы без договоров и согласований',
  })
    include ../components/route/route

  +layout({})
    +article({
      three: true,
    })

  +layout({})
    +article({
      four: true,
    })

  +layout({
    class: 'layout--grey',
  })
    include ../components/reviews/reviews

  +layout({})
    +article({
      five: true,
    })

  +layout({})
    +article({
      six: true,
    })

  +layout({})
    +article({
      seven: true,
    })


