header.header
  div.header__padding
  div.header__fixed
    div.container
      div.header__wrapper
        div.header__logo
          img(src="./assets/images/logo.svg" width='143' height='60' alt="")

        div.header__contacts
          div.header__contact
            a(href="tel:88005054580").header__link 8 (800) 505-45-80
          div.header__contact.header__contact--desktop-only
            div.button-magnetic
              a(href="#").button Зарегистрироваться 