article.request
  div.request__content
    h2.request__title Остались вопросы? #[br] Оставьте ваш номер, и наш менеджер свяжется с вами!

    form(action="#" method="").request__form

      div.request__field
        include ../field/field

      div.button-magnetic
        button(type='submit').button Перезвоните мне
        
  div(style='background-image: url("./assets/images/request-background-1.jpg")').request__banner