.request {
  display: flex;
  border-radius: 20px;
  overflow: hidden;

  @media(max-width: $phone) {
    border-radius: 10px;
  }

  &__content {
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
    background-color: $Secondary-15;
    gap: 40px;

    @media(max-width: $tablet) {
      max-width: 300px;
      padding: 30px;
    }

    @media(max-width: $phone) {
      max-width: unset;
      min-height: unset;
      padding-top: 20px;
      padding-right: 15px;
      padding-bottom: 20px;
      padding-left: 15px;
      gap: 20px;
    }

    &:after {
      position: absolute;
      top: -1px;
      left: calc(100% - 1px);
      bottom: -1px;
      width: 150px;
      background-color: $Secondary-15;
      clip-path: polygon(0 0, 100% 0, 0 100%);
      content: '';

      @media(max-width: $tablet) {
        width: 100px;
      }

      @media(max-width: $phone) {
        display: none;
        content: unset;
      }
    }
  }

  &__title {
    @include DesktopH2-bold;
    margin: 0;

    @media(max-width: $phone) {
      text-align: center;
    }
  }

  &__form {
    width: 100%;
    max-width: 260px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media(max-width: $phone) {
      max-width: unset;
    }

    .button {
      width: 100%;
    }
  }

  &__banner {
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 1;

    @media(max-width: $phone) {
      display: none;
    }
  }
}