section.intro
  div.intro__wrapper 
    div.container
      div.intro__content
        h1.intro__title Платформа #[em.wave-text оптовых закупок] рыбы и морепродуктов со всего мира из первых рук.
      
        p.intro__sub-title Планируйте и совершайте закупки онлайн #[br] 24\7 с удобной персональной поддержкой

        div.button-magnetic
          a(href="#").button.button--big Зарегистрироваться

    div.intro__images
      figure.intro__image.intro__image--one
        img(src="./assets/images/intro-image-1.png" alt="")
      figur.intro__image.intro__image--two
        img(src="./assets/images/intro-image-2.png" data-reveal data-parallax-mouse data-parallax-speed='1' alt="")
      figure.intro__image.intro__image--three
        img(src="./assets/images/intro-image-3.png" data-reveal data-parallax-mouse data-parallax-speed='1.5' data-parallax-rotate='2' alt="")
      figure.intro__image.intro__image--four
        img(src="./assets/images/intro-image-4.png" data-reveal data-parallax-mouse data-parallax-speed='2.5' alt="")
      figure.intro__image.intro__image--five
        img(src="./assets/images/intro-image-5.png" data-reveal data-parallax-mouse data-parallax-speed='1' data-parallax-rotate='2' alt="")
      figure.intro__image.intro__image--six
        img(src="./assets/images/intro-image-6.png" data-reveal data-parallax-mouse data-parallax-speed='1.5' data-parallax-rotate='2' alt="")
      figure.intro__image.intro__image--seven
        img(src="./assets/images/intro-image-7.png" data-reveal data-parallax-mouse data-parallax-speed='2.5' alt="")

        