section.route
  div.route__step.route__step--first
    span.route__step-title Зарегистрируйтесь
    p Вам потребуется ИНН и код Меркурия.
    p Дождитесь окончания проверки нашей службой.
    p Это не займет более 15 минут.

  div.route__step.route__step--second
    span.route__step-title Выберите склад
    p С которого планируете сделать заказ, чтобы видеть актуальные остатки и цены.
  
  div.route__step.route__step--third
    span.route__step-title Выберите товар и добавьте в корзину
    p Выберите необходимые параметры товара, укажите объем и нажмите кнопку «В корзину».

  div.route__step.route__step--fourth
    span.route__step-title Оформите заказ
    p Выбирайте доставку или самовывоз, удобный для вас вариант загрузки коробок.
    p Товар будет зарезервирован в течении 2-х минут после оплаты.
    
  div.route__step.route__step--fifth
    span.route__step-title Отслеживайте и получите заказ
    p Следите за статусом сбора и доставки заказа в личном кабинете.

  figure.route__banner
    img(src="./assets/images/steps-image-1.png", alt="")