section.route
  div.route__step.route__step--first
    span.route__step-title Зарегистрируйтесь
    p Вам потребуется ИНН и код Меркурия. Заполните и укажите все необходимые данные. Дождитесь окончания проверки. Как правило она занимает не более 15 минут

  div.route__step.route__step--second
    span.route__step-title Выбрать склад
    p Выберите склад с которого планируете совершить отгрузку чтобы видеть актуальные остатки и цены
  
  div.route__step.route__step--third
    span.route__step-title Выберите товар и сделайте заказ
    p Перейдите в карточку товара, выберите необходимые параметры, укажите объем и нажмите кнопку «В корзину». Приобрести позицию можно кратно коробке

  div.route__step.route__step--fourth
    span.route__step-title Оформите заказ
    p Переходите к оформлению где вы выберите доставку или самовывоз, удобный для вас вариант загрузки коробок. Оплатите заказ, если не предусмотрена отсрочка. После оформления заказа товар будет зарезервирован в течении 2-х минут
    
  div.route__step.route__step--fifth
    span.route__step-title Отслеживайте и получите заказ
    p Статус вашего заказа можно отследить в личном кабинете. Доставка возможна на следующий день как и самомвывоз. В исключительных случаях самовывоз доступен в день заказа

  figure.route__banner
    img(src="./assets/images/steps-image-1.png", alt="")