mixin review-card(props)
  div.review-card
    div.review-card__header
      figure.review-card__avatar
        img(src=props.src alt="")
      div.review-card__info
        span.review-card__name=props.name
        div.review-card__stars
          include ../star-rating/star-rating

    div.review-card__content
      p=props.text