mixin slider(props)
  include ../partner-card/partner-card
  include ../review-card/review-card

  section.slider
    div.swiper.slider__swiper
      ul.swiper-wrapper.slider__list

        if props.partners
          li.swiper-slide.slider__item
            +partner-card({
              src: './assets/images/partner-logo-1.png',
            })
          
          li.swiper-slide.slider__item
            +partner-card({
              src: './assets/images/partner-logo-2.png',
            })
          
          li.swiper-slide.slider__item
            +partner-card({
              src: './assets/images/partner-logo-3.png',
            })
          
          li.swiper-slide.slider__item
            +partner-card({
              src: './assets/images/partner-logo-4.png',
            })
          
          li.swiper-slide.slider__item
            +partner-card({
              src: './assets/images/partner-logo-5.png',
            })
          
          li.swiper-slide.slider__item
            +partner-card({
              src: './assets/images/partner-logo-3.png',
            })
          
          li.swiper-slide.slider__item
            +partner-card({
              src: './assets/images/partner-logo-4.png',
            })
          
          li.swiper-slide.slider__item
            +partner-card({
              src: './assets/images/partner-logo-5.png',
            })

          li.swiper-slide.slider__item
            +partner-card({
              src: './assets/images/partner-logo-1.png',
            })
          
          li.swiper-slide.slider__item
            +partner-card({
              src: './assets/images/partner-logo-2.png',
            })
          
          li.swiper-slide.slider__item
            +partner-card({
              src: './assets/images/partner-logo-3.png',
            })

        if props.reviews
          li.swiper-slide.slider__item
            +review-card({
              name: 'Марина Алиевна',
              text: 'Очень нравится организованность в самой компании. Работать на сайте-одно удовольствие. Можно посмотреть остаток товара, что очень удобно для планирования своих покупок. Кроме того, никогда не возникало проблем с оплатой, после заказа дается достаточно времени.'
            })
          li.swiper-slide.slider__item
            +review-card({
              name: 'Елена Пименова',
              text: 'Крупная рыбная компания, на сайте которой можно купить вкусную и полезную рыбку и морепродукты.'
            })
          li.swiper-slide.slider__item
            +review-card({
              name: 'Алексей Курочка',
              text: 'Отличная компания.Надежный поставщик как для оптового покупателя, так и для розничного, можно оформить заказ прямо с сайта. Огонь!'
            })
          li.swiper-slide.slider__item
            +review-card({
              name: 'Константин Константинопольский',
              text: 'Очень доволен работой интернет-магазина DEFA Group. Удобный сайт, большой ассортимент и адекватные цены. Качество товаров отличное.'
            })
          li.swiper-slide.slider__item
            +review-card({
              name: 'Александр Масленников',
              text: 'Отличная компания.Надежный поставщик как для оптового покупателя, так и для розничного, можно оформить заказ прямо с сайта. Огонь!'
            })
          li.swiper-slide.slider__item
            +review-card({
              name: 'Сильвестр Сталлоне',
              text: 'Сильве́стр Гарде́нцио Сталло́не — американский актёр, кинорежиссёр, сценарист и продюсер. За свою актёрскую карьеру снялся более чем в 50 фильмах, в том числе в сериях фильмов «Рокки», «Рэмбо», «Неудержимые» и «План побега».'
            })


      div.slider__scrollbar
    div.slider__buttons
      button(type='button' aria-label='Предыдущий слайд.').slider__button.slider__button--prev
        svg(width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
          use(href='#icon-chevron-left')
      button(type='button' aria-label='Следующий слайд.').slider__button.slider__button--next
        svg(width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
          use(href='#icon-chevron-right')
